.demo-chart {
  height: 500px;
}

.form-field {
  width: 200px;
  flex-grow: 1;
  margin: 10px;
}

.fetch-price-form {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}
