<div style="padding-left: 50px; padding-right: 50px; padding-top: 50px">
  <div>
    <h1>Trending crypto coins</h1>
    <mat-divider></mat-divider>
  </div>
  <div>
    <div>
      <swiper *ngIf="coinsTrending" [config]="config">
        <mat-card
          class="example-card"
          *ngFor="let coins of coinsTrending.coins; let i = index"
        >
          <mat-card-header>
            <div
              mat-card-avatar
              class="example-header-image"
              style="background-image: url('{{ coins.item.large }}');
            background-size: cover;"
            ></div>
            <mat-card-title>{{ coins.item.name }}</mat-card-title>
            <mat-card-subtitle>{{ coins.item.symbol }}</mat-card-subtitle>
          </mat-card-header>
          <div
            echarts
            [options]="chartOptionGrouped[i]"
            class="demo-chart"
          ></div>
        </mat-card>
      </swiper>
    </div>
  </div>
  <div></div>
</div>
