<div class="container" id="startContent">
  <div>
    <h1 style="display: inline-block;">TRENDING</h1>
    <img src="assets/help-24px.svg" matTooltip="Top-7 trending coins on CoinGecko as searched by users in the last 24 hours (Ordered by most popular first)"
    matTooltipPosition="right" style="height: 16px; width: 16px; padding-left: 5px;">
  </div>
  <div>
    <div class="trending-container" *ngIf="coinsTrending">
      <mat-card
        class="trending-card"
        *ngFor="let coins of coinsTrending.coins; let i = index"
      >
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            style="background-image: url('{{ coins.item.large }}');
            background-size: cover;"
          ></div>
          <mat-card-title>{{ coins.item.name }}</mat-card-title>
          <mat-card-subtitle style="margin-bottom: 0">{{
            coins.item.symbol
          }}</mat-card-subtitle>
          <div class="right-number" [matBadge]="i + 1"></div>
        </mat-card-header>
        <div echarts [options]="chartOptionGrouped[i]" class="demo-chart"></div>
      </mat-card>
    </div>
  </div>
  <div>
    <app-compare></app-compare>
  </div>
</div>
