.container {
  padding: 50px;
}
@media screen and (max-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.example-card {
  width: 250px;
  margin: 10px;
  flex-grow: 1;
}
.demo-chart {
  height: 150px;
}

.trending-container {
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-wrap: wrap;
  align-items: stretch;
}
.right-number {
  position: absolute;
  right: 20px;
}
